@white:										#fff;
@black:										#000;
@gray:										#6e6e6e;
@blue:										#2384c6;
@light-gray:								#f6f6f6;
@lighter-gray:								#6cacdd;
@light-blue:								#6cacdd;

@image-path:								"../images/";

@text-color: 								@gray;
@nav-pills-active-link-hover-bg:            @gray;

@font-size-base:          					14px;
@font-size-xlarge:        					ceil((@font-size-base * 9.28)); // ~130px

@font-size-h1:            					floor((@font-size-base * 3.43)); // ~48px
@font-size-h2:								ceil((@font-size-base * 2.14)); // ~30px
@font-size-h3:            					ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            					ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            					ceil((@font-size-base * 1.14)); // ~16px
@font-size-h6:			  					@font-size-base; 				  // 14px

@line-height-base:        					1.4;